<!DOCTYPE html>
<html lang="en">
<head>
<title>California University Analysis | About Us</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page4">
<!-- header -->
<div class="bg">
  <div class="main">
    <% include header.ejs %>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="wrapper margin-bot">
          <div class="col-3">
            <div class="indent">
              	<h2>About Us</h2>
             	<img src="about_1.png" border="0" style="margin:20px auto; display:block;"border="0"/>
	        	<section class="about">
					<p class="color-4">We are students of San Jose State University of Software Engineering Department. We have created this research analysis website as part of our CMPE272 course. We have put our best efforts and knowledge in order to complete this project.</p>
		            <div class="wrapper p2"></div>
				</section>
			</div>
        </div>
        <% include midder.ejs %> 
        </div>
      </div>
    </section>
  </div>
  <!-- footer -->
  <% include footer.ejs %> 
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
