<!DOCTYPE html>
<html lang="en">
<head>
<title>California University Analysis</title>
<meta charset="utf-8">
<% include head.ejs %>

<style>
#iframeVideo
	{
	margin: auto;
	display: block;
	}
</style>
</head>
<body id="page2">
<div class="bg">
	<div class="main">
	<% include header.ejs %>
    
      
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="wrapper p4">
          <div class="col-3">
            <div class="indent">
              <h2>How it works?</h2>
              
              <iframe id="iframeVideo" width="560" height="315" src="//www.youtube.com/embed/t9_6yT5UDjw" frameborder="0" allowfullscreen></iframe>
              
          </div>
          
        </div>
      </div>
    </section>
    <!-- footer -->
  <% include footer.ejs %> 
  </div>
  
</div>
<script type="text/javascript">Cufon.now();</script>
</html>
