<!DOCTYPE html>
<html lang="en">
<head>
<title>Point.co | Contacts</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page5">
<!-- header -->
<div class="bg">
  <div class="main">
      <% include header.ejs %>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="wrapper margin-bot">
          <div class="col-4" style="width: 100%;">
            <div class="block-news" style="margin-right: 12px;">
              <h3 class="color-4 indent-bot2">Contacts</h3>
              <dl class="contact p3">
                <dt><span>Our Address:</span>USA, San Jose</dt>
                <dd><span>Telephone:</span>+354 563-56-00</dd>
                <dd><span>E-mail:</span><a href="#">sjsu@mail.com</a></dd>
              </dl>
              </div>
            
            <div class="block-news">
              <h3 class="color-4 indent-bot2">As a Team</h3>
              <p class="text-1">As an emerging team we like to work with various domains. If our present work satisfies you and you think we can strive your work as well. Please contact us throug email or phone as mentioned..</p>
            </div>
          </div>
        </div>
        <% include midder.ejs %>
         
        
      </div>
    </section> 
  </div>
  <!-- footer -->
  <% include footer.ejs %>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
