<!DOCTYPE html>
<html>
<head>

    <title>US University Analysis Website - Home</title>
    <link rel="stylesheet" href="default.css" />
</head>
<style>
<% include ../public/stylesheets/default.css %>
</style>
<body>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
		        <h5 id="signature">US University Analysis Website</h5>
            <ul>
                <li><a class="lnk" href="/" >Home</a></li>
             <li><a class="lnk" href="/services" >Services</a></li>
             <li><a class="lnk" href="/about" >About</a></li>
             <li><a class="lnk" href="/contact" >Contact</a></li>
            </ul>
        </footer>
    </section>
    <!-- end mainRight -->
    <div id="logoTxt">
        <h1><span></span></h1>
        <h2><span></span></h2>
    </div>

	</body>
</html>
