<footer>
      <div class="row-top">
        <div class="row-padding">
          <div class="wrapper">
            <div class="col-1">
              <h4>Address:</h4>
              <dl class="address">
                <dt><span>Country:</span>USA</dt>
                <dd><span>City:</span>San Jose</dd>
                <dd><span>Address:</span>1 Washington Sq, San Jose, CA 95112</dd>
                <dd><span>Email:</span><a href="#">cmpeteam9@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-2">
              <h4>Follow Us:</h4>
              <ul class="list-services">
              	<li><iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=sjsu" style="width:300px; height:20px;"></iframe></li>
                <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcaluniversityanalysis.herokuapp.com%2F&amp;width=200&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px;" allowTransparency="true"></iframe></li>
              </ul>
            </div>
            <div class="col-3">
              <h4>Search:</h4>
              <ul class="list-1">
                <li><a href="/mapsearch">Map</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row-bot">
        <div class="aligncenter">
          <p class="p0">Copyright &copy; <a href="http://info.sjsu.edu/web-dbgen/catalog/courses/CMPE202.html">CMPE 272</a> All Rights Reserved</p>
          Design by <span style="color:#fff">Team 9</span><br>
          <!-- {%FOOTER_LINK} -->
        </div>
      </div>
    </footer>