<!DOCTYPE html>
<html lang="en">
<head>
<title>California University Analysis</title>
<meta charset="utf-8">
<% include head.ejs %>
<style>
	.row-3 {
		display: block;
	}
</style>
</head>

<body id="page1">
<!-- header -->

<div class="bg">
	<div class="main">
	<% include header.ejs %>
    <% include midder.ejs %> 
        <div class="wrapper">
          <div class="col-3">
            <div class="indent">
              <p class="color-4 p1">Donec vitae massa sit amet lectus condimentum aliquam vestibulum tempor nunc vel mi laoreet nec condimentum mauris convallis. Praesent lobortis, lectus a viverra faucibus, urna turpis sodales purus, magnaorem ipsum dolor ser adipiscing elit sed diam nonummy nibh euismod sit amet ornare urna augue ut mauris.</p>
              <div class="wrapper">
                <figure class="img-indent3"><img src="page1-img1.png" alt="" /></figure>
                <div class="extra-wrap">
                  <div class="indent2"> Cras placerat, risus ac porta auctor, dui neque varius libero, sed rutrum diam mauris sed lorem. Ut at risus eu dui pretium sodales proin fermentum condimentum eros quis tincidunt fraesent eleifend tempor nisi, in adipiscing felis molestie vitae. Sed et massa justo. Pellentesque turpis lorem, ornare sit amet vulputate at, consectetur </div>
                </div>
              </div>
			</div>
          </div>
        </div>
      </div>
    <!-- footer -->
    <% include footer.ejs %> 
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(function () {
    $('.slider')._TMS({
        prevBu: '.prev',
        nextBu: '.next',
        playBu: '.play',
        duration: 800,
        easing: 'easeOutQuad',
        preset: 'simpleFade',
        pagination: false,
        slideshow: 3000,
        numStatus: false,
        pauseOnHover: true,
        banners: true,
        waitBannerAnimation: false,
        bannerShow: function (banner) {
            banner.hide().fadeIn(500)
        },
        bannerHide: function (banner) {
            banner.show().fadeOut(500)
        }
    });
})
</script>
</html>
