<!DOCTYPE html>
<html lang="en">
<head>
<title>Point.co | Services</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page3">

<!-- header -->
<div class="bg">
  <div class="main">
    <header>
      <% include header.ejs %>
    </header>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="indent">
          <h2>Our Services</h2>
          <h4>We provide solutions with following Graphs which represent different views of data analysis performed across universities.</h4>
          <div class="wrapper indent-bot">
          <div class="wrapper">
                <figure class="img-indent3"><img src="services_1.png"  width="960" height="600" alt="" /></figure>
                <div class="extra-wrap">
                  </div>
    
            </div>
          </div>
        </div>
        
        <% include midder.ejs %>
        
      </div>
    </section>
  </div>
  <!-- footer -->
  <% include footer.ejs %>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>