<!DOCTYPE html>
<html lang="en">
<head>
<title>California University Analysis</title>
<meta charset="utf-8">
<% include head.ejs %>
</head>
<body id="page3">

<!-- header -->
<div class="bg">
  <div class="main">
    <header>
      <% include header.ejs %>
    </header>
    <!-- content -->
    <section id="content">
      <div class="padding">
        <div class="indent">
          <h2>Our Services</h2>
          <p style="padding: 20px 0; font-size: 20px; line-height: 1.2em;">We provide solutions through Graphical representation Analysis.</p>
        </div>
        
        <% include midder.ejs %>
        
      </div>
    </section> 
  <!-- footer -->
  <% include footer.ejs %>
  </div>
</div>
</body>
</html>